/* ### Start code global ### */

    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Lato:wght@300&display=swap');
    body{
        box-sizing: border-box;
        color: white;
        background-color: rgb(29, 29, 100);
        font-family: 'Kanit', sans-serif;
    }

/* ### End code global ### */

/* ### Start codes of "Index.html" ### */

    /* ### Start code of header page ### */

    .header-page{
        height: 100vh;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        background: url("../img/bg_head.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    /* ### End code of header page ### */

    /* ### Start code of blocInfo ### */

        .BlocInfo{
            width: 45%;
            background-color: green;
            color: white;
            margin: 1%;
            height: 20vh;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .BlocInfo p{
            font-size: 2rem;
            text-align: center;
            margin: 0;
        }
        .BlocInfo:nth-child(1){
            background-color: rgb(49, 8, 172);
        }
        .BlocInfo:nth-child(2){
            background-color: rgb(4, 132, 12);
        }
        .BlocInfo:nth-child(3){
            background-color: rgb(153, 8, 172);
        }
        .BlocInfo:nth-child(4){
            background-color: rgb(172, 120, 8);
        }

    /* ### End code of blocInfo ### */

/* ### End codes of "Index.html" ### */

/* ### Start codes of "all pages" ### */

    /* ### Start Forms-style "all pages" #### */

        form{
            display: flex;
            flex-direction: column; 
            align-items: flex-start;
        }

        form input{
            margin: 10px 0px;
            height: 30px;
            width: 200px;
            border-radius: 5px;
        }

        form input::placeholder{
            padding: 5px;
        }

        form button{
            padding: 8px 15px;
            background-color: orange;
            border: solid 2px white;
            color: white;

            border-radius: 5px;
        }

        .forms{
            display: flex;
            justify-content: center;
        }

    /* ### End Forms-style all pages #### */

/* ### Start codes of all pages ### */