/* ### Début du code global ### */

    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Lato:wght@300&display=swap');

    body{
        box-sizing: border-box;
        color: white;
        background-color: rgb(29, 29, 100);
        font-family: 'Kanit', sans-serif;
    }

    .d-flex{display: flex;}

    /* ### Début du style des formulaires (toutes les pages) #### */

        form{
            display: flex;
            flex-direction: column; 
            align-items: flex-start;
        }

        form input{
            margin: 10px 0px;
            height: 30px;
            width: 200px;
            border-radius: 5px;
        }

        form input::placeholder{
            padding: 5px;
        }

        form button{
            padding: 8px 15px;
            background-color: orange;
            border: solid 2px white;
            color: white;

            border-radius: 5px;
        }

        .forms{
            display: flex;
            justify-content: center;
        }

    /* ### Fin du style des formulaires (toutes les pages) #### */

/* ### Fin du code global ### */

/* ### Début des codes (de l'Index.html) ### */

    /* ### Début (header du site) ### */

    .header-page{
        height: 100vh;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        background: url("../img/bg_head.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    /* ### Fin (header du site) ### */

    /* ### Début (Bloc d'information ) ### */

        .sectMain{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .BlocInfo{
            color: white;
            background-color: green;

            width: 45%;
            margin: 1%;
            height: 20vh;
            border-radius: 5px;

            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        .BlocInfo p{
            margin: 0;

            font-size: 2rem;
            text-align: center;
        }

        .BlocInfo:nth-child(1){
            background-color: rgb(49, 8, 172);
        }
        .BlocInfo:nth-child(2){
            background-color: rgb(4, 132, 12);
        }
        .BlocInfo:nth-child(3){
            background-color: rgb(153, 8, 172);
        }
        .BlocInfo:nth-child(4){
            background-color: rgb(172, 120, 8);
        }

        #BlocInfoGroup{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 600px;
        }

    /* ### Fin (Bloc d'information ) ### */

    /* ### Début (Boxs de profile) ### */
        
        #profilTeam{
            display: flex;
            justify-content: space-between;
        }
        #profilTeam img{
            width: 50%;
            border-radius: 50%;
        }
        #profilTeam article{
            width: 30%;
            text-align: center;
            background-color: rgb(3, 3, 78);
            border-radius: 10px;
            padding: 4% 0%;
        }
        #ContentFirstImg img:nth-child(1){
            width: 55%;
        }
        #ContentFirstImg img{
            width: 16%;
            height: 50vh;
        }
        #TeamMate{
            flex-direction: column;
        }
        #TeamMate h3{
            font-size: 3rem;
            margin-bottom: 1%;
        }
    /* ### Fin (Boxs de profile) ### */

/* ### Fin codes (de l'Index.html) ### */