

#containerUp{
    background: url("../img/bg_head.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h1{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 4rem;
    width: 50%;
}

#containerUp  a{
    background-color: orange;
    padding: 1% 2%;
    color: white;
    text-decoration: none;
}
#containerUp h3{
    margin-bottom: 5%;
}
#sectInfo{
    display: flex;
}
#regroupBInfo{
    display: flex;
    flex-wrap: wrap;
    width: 48%;
}
.BlocInfo{
    width: 45%;
    background-color: green;
    color: white;
    margin: 1%;
    height: 20vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.BlocInfo:nth-child(1){
    background-color: rgb(49, 8, 172);
}
.BlocInfo:nth-child(2){
    background-color: rgb(4, 132, 12);
}
.BlocInfo:nth-child(3){
    background-color: rgb(153, 8, 172);
}
.BlocInfo:nth-child(4){
    background-color: rgb(172, 120, 8);
}
.BlocInfo p{
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

#profilTeam{
    display: flex;
    justify-content: space-between;
}
#profilTeam img{
    width: 50%;
    border-radius: 50%;
}
#profilTeam article{
    width: 30%;
    text-align: center;
    background-color: rgb(3, 3, 78);
    border-radius: 10px;
    padding: 4% 0%;
}
#ContentFirstImg img:nth-child(1){
    width: 55%;
}
#ContentFirstImg img{
    width: 16%;
    height: 50vh;
}
#TeamMate{
    flex-direction: column;
}
#TeamMate h3{
    font-size: 3rem;
    margin-bottom: 1%;
}

.sectMain{
    display: flex;
    width: 80%;
    margin: 4% auto;
    justify-content: space-between;
    align-items: center;
}
.TxtNbr{
    color: rgb(94, 2, 191);
    font-size: 3rem;
    margin-right: 5%;
    margin-top: 0;
}
.proRes{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: auto;
}
.textR{
    display:flex;
}
/* Gradient color1 - color2 - color1 */

.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
    }

/* ### Top of Css of Game page ### */

#gameChat{
    bottom: 20px;
    right: 20px;

    width: 400px;
    height: 600px;
    
    position: absolute;
    background-color: #fff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#headerChat{
    background-color: #4949ff;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
}

.icon-chat{
    border-radius: 50%;
    border: solid #fff 2px; 
    background-color: #99daf2;
    width: 50px;
    padding: 5px;
}

#titleChat{
    padding: 0px 20px;
}

.circle-green{
    width: 15px;
    height: 15px;
    border: solid #fff 2px;
    background-color: #0fe200;
    border-radius: 50%;
    position: relative;
    left: -20px;
    bottom: -20px;
}

#footerChat{
    display: flex;
    color: #333;
    margin: 30px;

    display: flex;
    justify-content: space-around;
}

#inputChat{
    padding: 10px;
    border-radius: 5px;
}

#mainChat{
    width: 350px;
    margin-top: 20px;
    position: relative;
    right: -50px;
    overflow-y: scroll;
    color: #333;
}

#contentMessages{
    margin-right: 30px;
}

#sendBtnChat{
    width: 80px;
    border-radius: 20px;

    background-color: white;
    border: white;
}

.MessageChat{
    padding: 15px;
    border-radius: 15px;
    margin: 5px 0px;
}

.sendByMe{
    background-color: #5252f6;
    border: solid #eee 2px;
    color: #fff;
}

.sendByOther{
    background-color: #e1f6ff;
    color: #252525;
}

.chat-send-by-me{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 20px 0px;
}

.chat-send-by-other{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px 0px;
}

.flex-chat{
    display: flexbox;
    align-items: start;
}

/* ### Bootom of Css of Game page ### */